@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.04em;
}
.btn {
  padding: 0;
  cursor: pointer;
  font-family: 'DM Sans';
  font-style: normal;
  border: none;
  border-radius: 22px;
}
