<header class="hero">
  <div class="container">
    <div class="hero-top-box">
    <a href="./index.html" class="hero__logo link"
      >
      <img
        src="./images/header/logo-1x.png"
        alt="тільки справжнє молоко"
        class="hero__logo__img"
      /> 
    </picture> 
    </a>
    <nav class="hero-nav">
      <ul class="hero-menu-list list">
        <li class="hero-menu-list__item ">
          <a href="./index.html" class="hero-menu__link link">Home</a>
        </li>
        <li class="hero-menu-list__item ">
          <a href="#reviews" class="hero-menu__link link">About us</a>
        </li>
        <li class="hero-menu-list__item ">
          <a href="#about" class="hero-menu__link link">How it’s made?</a>
        </li>
        <li class="hero-menu-list__item ">
          <a href="#products" class="hero-menu__link link">Our products</a>
        </li>
        <li class="hero-menu-list__item ">
          <a href="#contacts" class="hero-menu__link link">Contact</a>
        </li>
      </ul>
    </nav>
    </div>
    <div>
      <button type="button" class="mob-menu-btn js-open-menu">
        <svg height="12px" width="20px">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
    <div class="hero__button">
      <button type="button" class="hero__btn">
     
        <span class="hero-button__text">Buy now 
         <svg height="12px" width="8px" class="hero-icon-mark">
          <use href="./images/icons.svg#icon-vec"></use>
        </svg>
       
      </span>
      </button>
    
  </div>
   <!-- include mobile menu here -->
   
    <h1 class="hero-title">
       <span class="hero-top-title"> ice cream made with</span>
          <span class="hero-bottom-title">passion</span> </h1>
    <div>
      <ul class="hero-button-list list ">
        <li class="hero-button-item">
          <button type="button" class="hero__btn__first">
            <a href="#products" class="link">
            <span class="hero-btn__text">Products</span>
          </a>
          </button>
        </li>
        <li class="hero-button-item">
          <button type="button" class="hero__btn__last">
            <a href="#reviews" class="link">
            <span class="hero-btn__text">How it’s made?</span>
          </a>
          </button>
        </li>
      </ul>
    </div>
    <div class="hero-cicle"></div>
    <div class="hero-centr">
      <picture class="hero-centr__img">
        <source
          srcset="
            ./images/header/icecream-1x.png 1x,
            ./images/header/icecream-2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/header/icecream-tab-1x.png 1x,
            ./images/header/icecream-tab-2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/header/icecream-mob-1x.png 1x,
            ./images/header/icecream-mob-2x.png 2x
          "
          media="(min-width:320px)"
        />
      
      <img
        src="./images/header/icecream-1x.png"
        alt="велика смачна порція морозива"
        class="hero__icecream"
      />
    </picture>
    </div>
    <div class="hero-rnum">
      <ul class="hero-rnum-list list">
        <li class="hero-rnum__item ">
          <picture>
            <source
              srcset="
                ./images/header/16-dec-1x.png 1x,
                ./images/header/16-dec-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/header/16-tab-1x.png 1x,
                ./images/header/16-tab-2x.png 2x
              "
              media="(min-width:768px)"
            />
          
          <img
            src="./images/header/16-dec-1x.png"
            alt="кількість кафе"
            class="hero__rnum__img"
          />
        </picture>
        </li>
        <li class="hero__rnum__item ">
          <picture>
            <source
              srcset="
                ./images/header/23-dec-1x.png 1x,
                ./images/header/23-dec-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/header/23-tab-1x.png 1x,
                ./images/header/23-tab-2x.png 2x
              "
              media="(min-width:768px)"
            />
          
          <img
            src="./images/header/23-dec-1x.png"
            alt="кількість точок продажу"
            class="hero__rnum__img"
          />
        </picture>
        </li>
      </ul>
    </div>
    <div class="hero-bottom-box">
      <div class="hero-bottom__img">
      <picture>
        <source
          srcset="
            ./images/header/moloko-1x.png 1x,
            ./images/header/moloko-2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/header/moloko-tab-1x.png 1x,
            ./images/header/moloko-tab-2x.png 2x
          "
          media="(min-width:768px)"
        />
      
      <img
        src="./images/header/moloko-1x.png"
        alt="тільки справжнке молоко"
        class="hero__moloko__img"
      />
      </picture>
    </div>
    <div class="hero-bottom">
      <p class="hero_bottom__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
     <div class="hero_icon">
      <svg class="hero_icon__svg" >
        <use href="./images/icons.svg#icon-arrow-right2"></use>
      </svg>
    </div>
    </div>
    </div>
    <div class="hero-last-img">
      <picture>
        <source
          srcset="
            ./images/header/girl-1x.png 1x,
            ./images/header/girl-2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/header/girl-tab-1x.png 1x,
            ./images/header/girl-tab-2x.png 2x
          "
          media="(min-width:768px)"
        />
      
      <img
        src="./images/header/girl-1x.png"
        alt="смачне морозиво"
        class="hero__girl__img"
      />
    </picture>
    </div>
  </div>
   </div>
</header>
