<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IceCream</title>
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
      integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./sass/layout/_about.scss" />
    <script type="module" src="./index.js"></script>
  </head>

  <body>
    <section class="about_section">
      <div class="container container_about">
        <div class="about_title-box">
          <p class="about_subtitle">tradition and love</p>
          <h2 class="about_tittle">how it’s made?</h2>
        </div>

        <div class="about_content">
          <img
            class="about_img"
            src="./images/about/cow-img-desktop-2x-min.png"
            alt="Корова"
          />
          <div class="about_item">
            <ul class="about_list">
              <li class="about_text">
                <span class="about_text-bold"
                  >Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam
                  vel justo cursus, faucibus lorem eget, egestas eros. Maecenas
                  eleifend erat at justo fringilla.</span
                >
              </li>
              <li class="about_text">
                Curabitur lacinia enim at ex blandit, vel pellentesque odio
                elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
                euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
                Cras massa nibh, tincidunt.
              </li>
              <li class="about_text">
                Aliquam erat volutpat. Aenean accumsan.
              </li>
            </ul>
            <button class="about_btn">
              Read more<svg class="about_btn-arrow">
                <use href="./images/icons.svg#icon-vector"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </section>

    <include src="partials/test.html"></include>
  </body>
</html>
