<section class="contacts">
  <div class="container">
    <p id="contacts"></p>

    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts-card list">
      <!-- 1 -->
      <li class="contacts-card__item">
        <div class="contacts-representation">
          <p class="contacts-representation__name">CAFE</p>
        </div>
        <div class="contacts-town">
          <h3 class="contacts-town__name">Chicago</h3>
          <p class="contacts-town__info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <hr size="1px" width="100%" color="#E1E1E1" class="line" />
        <!-- <div class="line"></div> -->
        <ul class="contacts-schedule list">
          <li class="contacts-schedule__item">
            <p class="contacts-schedule__day">Monday - Friday</p>
            <p class="contacts-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-schedule__item">
            <p class="contacts-schedule__day">Saturday - Sunday</p>
            <p class="contacts-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <hr size="1px" width="100%" color="#E1E1E1" class="line" />
        <!-- <div class="line"></div> -->
        <ul class="contacts-contacts list">
          <li class="contacts-contacts__item">
            <a href="tel:+61(0)383766284" class="contacts-contacts__link link">
              +61(0) 383 766 284
            </a>
          </li>
          <li class="contacts-contacts__item">
            <a
              href="mailto:noreply@envato.com"
              class="contacts-contacts__link link"
            >
              noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <!-- 2 -->
      <li class="contacts-card__item">
        <div class="contacts-representation add-name">
          <p class="contacts-representation__name">FOODTRUCK</p>
        </div>
        <div class="contacts-town">
          <h3 class="contacts-town__name">Los Angeles</h3>
          <p class="contacts-town__info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <hr size="1px" width="100%" color="#E1E1E1" class="line" />
        <!-- <div class="line"></div> -->
        <ul class="contacts-schedule list">
          <li class="contacts-schedule__item">
            <p class="contacts-schedule__day">Monday - Friday</p>
            <p class="contacts-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-schedule__item">
            <p class="contacts-schedule__day">Saturday - Sunday</p>
            <p class="contacts-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <hr size="1px" width="100%" color="#E1E1E1" class="line" />
        <!-- <div class="line"></div> -->
        <ul class="contacts-contacts list">
          <li class="contacts-contacts__item">
            <a href="tel:+61(0)383766284" class="contacts-contacts__link link">
              +61(0) 383 766 284
            </a>
          </li>
          <li class="contacts-contacts__item">
            <a
              href="mailto:noreply@envato.com"
              class="contacts-contacts__link link"
            >
              noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <!-- 3 -->
      <li class="contacts-card__item">
        <div class="contacts-representation">
          <p class="contacts-representation__name">CAFE</p>
        </div>
        <div class="contacts-town">
          <h3 class="contacts-town__name">New York</h3>
          <p class="contacts-town__info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <hr size="1px" width="100%" color="#E1E1E1" class="line" />
        <!-- <div class="line"></div> -->
        <ul class="contacts-schedule list">
          <li class="contacts-schedule__item">
            <p class="contacts-schedule__day">Monday - Friday</p>
            <p class="contacts-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-schedule__item">
            <p class="contacts-schedule__day">Saturday - Sunday</p>
            <p class="contacts-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <hr size="1px" width="100%" color="#E1E1E1" class="line" />
        <!-- <div class="line"></div> -->
        <ul class="contacts-contacts list">
          <li class="contacts-contacts__item">
            <a href="tel:+61(0)383766284" class="contacts-contacts__link link">
              +61(0) 383 766 284
            </a>
          </li>
          <li class="contacts-contacts__item">
            <a
              href="mailto:noreply@envato.com"
              class="contacts-contacts__link link"
            >
              noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
