<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IceCream</title>
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
      integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./sass/index.scss" />
    <script type="module" src="./index.js"></script>
  </head>

  <body>
    <section class="contacts container">
      <!-- <div class="container"> -->
      <h2 class="visually-hidden">Contacts</h2>
      <ul class="v list">
        <!-- 1 -->
        <li class="j">
          <div class="obert">
            <div class="d">
              <p class="ccc">CAFE</p>
            </div>
            <h3>Chicago</h3>
            <p class="lio">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <div class="line"></div>
            <ul class="list">
              <li>
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <div class="line"></div>
            <ul class="list">
              <li class="header-contact__item">
                <a
                  href="tel:+61(0) 383 766 284"
                  class="header-contact__link link"
                >
                  +61(0) 383 766 284
                </a>
              </li>
              <li class="header-contact__item">
                <a
                  href="mailto:noreply@envato.com"
                  class="header-contact__link link"
                >
                  noreply@envato.com</a
                >
              </li>
            </ul>
          </div>
        </li>
        <!-- 2 -->
        <li class="j">
          <div class="obert">
            <div class="d">
              <p class="ccc">FOODTRUCK</p>
            </div>
            <h3>Los Angeles</h3>
            <p class="lio">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <div class="line"></div>
            <ul class="list">
              <li>
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <div class="line"></div>
            <ul class="list">
              <li class="header-contact__item">
                <a
                  href="mailto:info@devstudio.com"
                  class="header-contact__link link"
                >
                  +61(0) 383 766 284
                </a>
              </li>
              <li class="header-contact__item">
                <a href="tel:+380961111111" class="header-contact__link link">
                  noreply@envato.com</a
                >
              </li>
            </ul>
          </div>
        </li>
        <!-- 3 -->
        <li class="j">
          <div class="obert">
            <div class="d">
              <p class="ccc">CAFE</p>
            </div>
            <h3>New York</h3>
            <p class="lio">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <div class="line"></div>
            <ul class="list">
              <li>
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <div class="line"></div>
            <ul class="list">
              <li class="header-contact__item">
                <a
                  href="mailto:info@devstudio.com"
                  class="header-contact__link link"
                >
                  +61(0) 383 766 284
                </a>
              </li>
              <li class="header-contact__item">
                <a href="tel:+380961111111" class="header-contact__link link">
                  noreply@envato.com</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <!-- Button -->
      <div class="button">
        <button class="footer-form__button" type="submit">
          Our Locations
          <svg class="footer-form__icon" width="3.61" height="8">
            <use href="./images/icons.svg#icon-vector"></use>
          </svg>
        </button>

        <button class="footer-form__button" type="submit">
          Franchise
          <svg class="footer-form__icon" width="4.28" height="8">
            <use href="./images/icons.svg#icon-vector"></use>
          </svg>
        </button>
      </div>
      <!-- </div> -->
    </section>
  </body>
</html>
