<section class="gallery"  id="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container my-own-container">
    <div class="gallery--background-gradient">
      <div class="gallery__product-card-1 gallery--little-size-card">

        <picture>
          <source srcset="./images/gallery/first-block-first-img.jpg 1x, ./images/gallery/first-block-first-img-2x.jpg 2x" media="(min-width: 1280px)">            
          <source srcset="./images/gallery/first-block-first-img-tab.jpg 1x, ./images/gallery/first-block-img-tab-2x.jpg 2x" media="(min-width: 768px)">
          <source srcset="./images/gallery/first-block-img-mob.jpg 1x, ./images/gallery/first-block-img-mob-2x.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img-effects" src="./images/gallery/first-block-first-img.jpg" alt="green ice cream">
        </picture>
      </div>

      <div class="gallery__product-card-2 gallery--little-size-card">
        <picture>
          <source srcset="./images/gallery/second-block-first-img.jpg 1x, ./images/gallery/second-block-first-img-2x.jpg 2x" media="(min-width: 1280px)">
          <source srcset="./images/gallery/second-block-first-img-tab.jpg 1x, ./images/gallery/second-block-first-img-tab-2x.jpg 2x" media="(min-width: 768px )">
          <source srcset="./images/gallery/second-block-first-img-mob.jpg 1x, ./images/gallery/second-block-first-img-mob-2x.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img-effects"  src="./images/gallery//second-block-first-img.jpg" alt="pink ice cream tube">
        </picture>
      </div>

      <div class="gallery__product-card-3 gallery--little-size-card">
        <picture>
          <source srcset="./images/gallery/second-block-second-img.jpg 1x, ./images/gallery/second-block-second-img-2x.jpg 2x" media="(min-width: 1280px)">
          <source srcset="./images/gallery/second-block-second-img-tab.jpg 1x,  ./images/gallery/second-block-second-img-tab-2x.jpg 2x" media="(min-width: 768px)">
          <source srcset="./images/gallery/second-block-second-img-mob.jpg 1x, ./images/gallery/second-block-second-img-mob-2x.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img-effects" src="./images/gallery/second-block-second-img.jpg" alt="pink ice cream">
        </picture>
      </div>

      <div class="gallery__product-card-4 gallery--main-big-card">
        <picture>
          <source srcset="./images/gallery/main-gallery-img.jpg 1x, ./images/gallery/main-gallery-img-2x.jpg 2x" media="(min-width: 1280px)">
          <source srcset="./images/gallery/main-block-main-img-tab.jpg 1x, ./images/gallery/main-block-main-img-tab-2x.jpg 2x"  media="(min-width: 768px)">
          <source srcset="./images/gallery/main-block-main-img-mob.jpg 1x, ./images/gallery/main-block-main-img-mob-2x.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img-effects"  src="./images/gallery/main-gallery-img.jpg" alt="yellow and pink ice cream">
        </picture>
      </div>

      <div class="gallery__product-card-5 gallery--little-size-card">
        <picture>
          <source srcset="./images/gallery/main-block-second-img.jpg 1x, ./images/gallery/main-block-second-img-2x.jpg 2x" media="(min-width: 1280px)">
          <source srcset="./images/gallery/main-block-second-img-tab.jpg 1x, ./images/gallery/main-block-second-img-tab-2x.jpg 2x"  media="(min-width: 768px)">
          <source srcset="./images/gallery/main-block-second-img-mob.jpg 1x, ./images/gallery/main-block-second-img-mob-2x.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img-effects" src="./images/gallery/main-block-second-img.jpg" alt="woman eats white ice cream">
        </picture>
      </div>

      <div class="gallery__product-card-6 gallery--little-size-card">
        <picture>
          <source srcset="./images/gallery/four-block-first-img.jpg 1x, ./images/gallery/four-block-first-img-2x.jpg 2x" media="(min-width: 1280px)">
          <source srcset="./images/gallery/four-block-first-img-tab.jpg 1x, ./images/gallery/four-block-first-img-tab-2x.jpg 2x" media="(min-width: 768px)">
          <source srcset="./images/gallery/four-block-first-img-mob.jpg 1x, ./images/gallery/four-block-first-img-mob-2x.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img-effects"  src="./images/gallery/four-block-first-img.jpg" alt="plate of ice cream and berries">
        </picture>
      </div>

      <div class="gallery__product-card-7 gallery--little-size-card">
        <picture>
          <source srcset="./images/gallery/four-block-second-img.jpg 1x, ./images/gallery/four-block-second-img-2x.jpg 2x" media="(min-width: 1280px)">
          <source srcset="./images/gallery/four-block-second-img-tab.jpg 1x, ./images/gallery/four-block-second-img-tab-2x.jpg 2x" media="(min-width: 768px)"> 
          <source srcset="./images/gallery/four-block-second-img-mob.jpg 1x, ./images/gallery/four-block-second-img-mob-2x.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img-effects" src="./images/gallery/four-block-second-img.jpg" alt="tube of ice cream">
        </picture>
      </div>

      <div class="gallery__product-card-8 gallery--little-size-card">
        <picture>
          <source srcset="./images/gallery/five-block-first-img.jpg 1x, ./images/gallery/five-block-first-img-2x.jpg 2x" media="(min-width: 1280px)">
          <source srcset="./images/gallery/five-block-first-img-tab.jpg 1x, ./images/gallery/five-block-first-img-tab-2x.jpg 2x" media="(min-width: 768px)">
          <source srcset="./images/gallery/five-block-first-img-mob.jpg 1x, ./images/gallery/five-block-first-img-mob-2x.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img-effects" src="./images/gallery/five-block-first-img.jpg" alt="green ice cream">
        </picture>
      </div>

      <div class="gallery__product-card-9 gallery--little-size-card">
        <picture>
          <source srcset="./images/gallery/five-block-second-img.jpg 1x, ./images/gallery/five-block-second-img-2x.jpg 2x" media="(min-width: 1280px)">
          <source srcset="./images/gallery/five-block-second-img-tab.jpg 1x, ./images/gallery/five-block-second-img-tab-2x.jpg 2x" media="(min-width: 768px)"> 
          <source srcset="./images/gallery/five-block-second-img-mob.jpg 1x, ./images/gallery/five-block-second-img-mob-2x.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img-effects" src="./images/gallery/five-block-second-img.jpg" alt="green ice cream">
        </picture>
      </div>

      <div class="gallery__product-card-10 gallery--little-size-card">
        <picture>
          <source srcset="./images/gallery/last-block-img.jpg 1x, ./images/gallery/last-block-img-2x.jpg 2x" media="(min-width: 1280px)">
          <source srcset="./images/gallery/last-block-img-tab.jpg 1x, ./images/gallery/last-block-img-tab-2x.jpg 2x" media="(min-width: 768px)">
          <source srcset="./images/gallery/last-block-img-mob.jpg 1x, ./images/gallery/last-block-img-mob-2x.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img-effects" src="./images/gallery/last-block-img.jpg" alt="green ice cream">
        </picture>
      </div>
    </div>
  </div>
</section>

<!-- <section class="gallery" id="gallery">
  <div class="container">
    <div class="gallery_item">
      <picture>
        <source srcset="images/gallery/gallery-desktop.jpg 1x, images/gallery/gallery-desktop-2x.jpg 2x"
          media="(min-width: 1280px)">
        <source srcset="images/gallery/gallery-tab.jpg 1x, images/gallery/gallery-tab-2x.jpg 2x"
          media="(min-width: 768px)">
        <source srcset="images/gallery/gallery-mob.jpg 1x,  images/gallery/gallery-mob-2x.jpg 2x"
          media="(max-width: 767px)">
        <img class="cards" src="images/gallery/gallery-mob.jpg" alt="Cards with lollipops">
      </picture>
    </div>
  </div>
</section> -->