<section class="gallery" id="gallery">
  <div class="container">
    <div class="gallery_item">
      <picture>
        <source srcset="images/gallery/gallery-desktop.jpg 1x, images/gallery/gallery-desktop-2x.jpg 2x" media="(min-width: 1200px)">
        <source srcset="images/gallery/gallery-tab.jpg 1x, images/gallery/gallery-tab-2x.jpg 2x" media="(min-width: 768px)">
        <source srcset="images/gallery/gallery-mob.jpg 1x,  images/gallery/gallery-mob-2x.jpg 2x" media="(max-width: 767px)">
        <img class="cards" src="images/gallery/gallery-mob.jpg" alt="Cards with lollipops">
      </picture>
    </div>
  </div>
</section>