<header class="hero">
  <div class="container">
    <a href="./index.html" class="hero__logo link"
      ><img src="../images//header/logo.png" alt="логотип"
    /></a>
    <nav class="hero-nav">
      <ul class="hero-menu-list list">
        <li class="hero-menu-list__item list">
          <a href="./index.html" class="her-omenu__link active link">Home</a>
        </li>
        <li class="hero-menu-list__item list">
          <a href="./portfolio.html" class="hero-menu__link link">About us</a>
        </li>
        <li class="hero-menu-list__item list">
          <a href="" class="hero-menu__link link">How it’s made?</a>
        </li>
        <li class="hero-menu-list__item list">
          <a href="" class="hero-menu__link link">Our products</a>
        </li>
        <li class="hero-menu-list__item list">
          <a href="" class="hero-menu__link link">Contact</a>
        </li>
      </ul>
    </nav>
    <div>
      <button type="button" class="mob-menu-btn">
        <svg height="40px" width="40px">
          <use href="./images/icon2.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
    <div class="hero__button">
      <button type="button" class="hero__btn">
        <span class="hero-button__text">Buy now ></span>
      </button>
    </div>
    <div class="mob-menu is-hidden">
      <div class="container">
        <div class="mob-menu-top">
          <button type="button" class="mob-menu-close-btn mob-close">
            <svg height="18px" width="18px">
              <use href="./images/icon2.svg#icon-close"></use>
            </svg>
          </button>
          <div class="hero__button">
            <button type="button" class="hero__btn">
              <span class="hero-button__text">Buy now ></span>
            </button>
          </div>
          <nav class="hero-mob-nav">
            <ul class="hero-mob-list list">
              <li class="hero-mob-list__item list">
                <a href="./index.html" class="hero-mob__link active link"
                  >Home</a
                >
              </li>
              <li class="hero-mob-list__item list">
                <a href="./portfolio.html" class="hero-mob__link link"
                  >About us</a
                >
              </li>
              <li class="hero-mob-list__item list">
                <a href="" class="hero-mob__link link">How it’s made?</a>
              </li>
              <li class="hero-mob-list__item list">
                <a href="" class="hero-mob__link link">Our products</a>
              </li>
              <li class="hero-mob-list__item list">
                <a href="" class="hero-mob__link link">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <h1 class="hero-title">ice cream made with passion</h1>
    <div>
      <ul>
        <li class="list">
          <button type="button" class="hero__btn">
            <span class="hero-button__text">Products</span>
          </button>
        </li>
        <li class="list">
          <button type="button" class="hero__btn">
            <span class="hero-button__text">How it’s made?</span>
          </button>
        </li>
      </ul>
    </div>
    <div>
      <picture>
        <source
          srcset="
            ../images/header/icecream-1x.png 1x,
            ../images/header/icecream-2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ../images/header/icecream-tab-1x.png 1x,
            ../images/header/icecream-tab-2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ../images/header/icecream-mob-1x.png 1x,
            ../images/header/icecream-mob-2x.png 2x
          "
          media="(min-width:320px)"
        />
      </picture>
      <img
        src="../images/header/icecream-1x.png"
        alt="велика смачна порція морозива"
        class="hero__icecream"
      />
    </div>
    <div>
      <ul>
        <li class="hero__rnum__item list">
          <picture>
            <source
              srcset="
                ../images/header/16dec-1x.png 1x,
                ../images/header/16dec-2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ../images/header/16tab-1x.png 1x,
                ../images/heder/16tab-2x.png  2x
              "
              media="(min-width:768px)"
            />
          </picture>
          <img
            src="../images//header/16dec-1x.png"
            alt="кількість кафе"
            class="hero__rnum__img"
          />
        </li>
        <li class="hero__rnum__item list">
          <picture>
            <source
              srcset="
                ../images//header/23dec-1x.png 1x,
                ../images/header/23dec-2x.png  2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ../images/header/23tab-1x.png 1x,
                ../images/heder/23tab-2x.png  2x
              "
              media="(min-width:768px)"
            />
          </picture>
          <img
            src="../images//header/23dec-1x.png"
            alt="кільє точок продажу"
            class="hero__rnum__img"
          />
        </li>
      </ul>
    </div>
    <div>
      <picture>
        <source
          srcset="
            ../images//header/moloko-1x.png 1x,
            ../images/header/moloko-2x.png  2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ../images/header/moloko-tab-1x.png 1x,
            ../images/heder/moloko-tab-2x.png  2x
          "
          media="(min-width:768px)"
        />
      </picture>
      <img
        src="../images//header/moloko-1x.png"
        alt="тільки справжнке молоко"
        class="hero__moloko__img"
      />
    </div>
    <div>
      <p class="hero_bottom_text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
    </div>
    <div class="hero_icon">
      <svg width="26px" height="26px">
        <use href="../images/icons.svg#icon-arrow-right2"></use>
      </svg>
    </div>
    <div>
      <picture>
        <source
          srcset="
            ../images//header/girl-1x.png 1x,
            ../images/header/girl-2x.png  2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ../images/header/girl-tab-1x.png 1x,
            ../images/heder/girl-tab-2x.png  2x
          "
          media="(min-width:768px)"
        />
      </picture>
      <img
        src="../images//header/girl-1x.png"
        alt="смачне морозиво"
        class="hero__moloko__img"
      />
    </div>
  </div>
</header>
