<header class="hero" >
  <div class="container">
    <div class="hero-top-box">
    <a href="./index.html" class="hero__logo link"
      >
      <img
        src="./images/header/logo-1x.png"
        alt="тільки справжнє молоко"
        class="hero__logo__img"
      /> 
    </picture> 
    </a>
    <nav class="hero-nav">
      <ul class="hero-menu-list list">
        <li class="hero-menu-list__item ">
          <a href="./index.html" class="hero-menu__link link">Home</a>
        </li>
        <li class="hero-menu-list__item ">
          <a href="#reviews" class="hero-menu__link link">About us</a>
        </li>
        <li class="hero-menu-list__item ">
          <a href="#about" class="hero-menu__link link ">How it’s made?</a>
        </li>
        <li class="hero-menu-list__item ">
          <a href="#products" class="hero-menu__link link ">Our products</a>
        </li>
        <li class="hero-menu-list__item ">
          <a href="#contacts" class="hero-menu__link link ">Contact</a>
        </li>
      </ul>
    </nav>
    </div>
    <div>
      <button type="button" class="mob-menu-btn js-open-menu">
        <svg height="12px" width="20px">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
    <div class="hero__button">
      <button type="button" class="hero__btn buy__now__click" data-modal-open>
     
        <span class="hero-button__text">Buy now 
         <svg height="12px" width="8px" class="hero-icon-mark">
          <use href="./images/icons.svg#icon-vec"></use>
        </svg>
       
      </span>
      </button>
    
  </div>
   <!-- include mobile menu here -->
   
    <h1 class="hero-title">
       <span class="hero-top-title"> ice cream made with</span>
          <span class="hero-bottom-title">passion</span> </h1>
    <div>
      <ul class="hero-button-list list ">
        <li class="hero-button-item">
          <a href="#products" class="link">
          <button type="button" class="hero__btn__first">

            <span class="hero-btn__text">

              <!-- <a href="#products" class="link"></a> -->
              Products</span>


          </button>
           </a>
        </li>
        <li class="hero-button-item">
           <a href="#about" class="link">
          <button type="button" class="hero__btn__last">
             <span class="hero-btn__text">
              How it’s made?</span>
          </button>
          </a>
        </li>
      </ul>
    </div>
    <div class="hero-cicle"></div>
    <div class="hero-centr">
      <picture class="hero-centr__img">
        <source
          srcset="
            ./images/header/icecream-1x.png 1x,
            ./images/header/icecream-2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/header/icecream-tab-1x.png 1x,
            ./images/header/icecream-tab-2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/header/icecream-mob-1x.png 1x,
            ./images/header/icecream-mob-2x.png 2x
          "
          media="(min-width:320px)"
        />
      
      <img
        src="./images/header/icecream-1x.png"
        alt="велика смачна порція морозива"
        class="hero__icecream"
      />
    </picture>
    </div>
    <div class="hero-rnum">
      <ul class="hero-rnum-list list">
        <li class="hero-rnum__item ">
          <picture>
            <source
              srcset="
                ./images/header/16-dec-1x.png 1x,
                ./images/header/16-dec-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/header/16-tab-1x.png 1x,
                ./images/header/16-tab-2x.png 2x
              "
              media="(min-width:768px)"
            />
          
          <img
            src="./images/header/16-dec-1x.png"
            alt="кількість кафе"
            class="hero__rnum__img"
          />
        </picture>
        </li>
        <li class="hero__rnum__item ">
          <picture>
            <source
              srcset="
                ./images/header/23-dec-1x.png 1x,
                ./images/header/23-dec-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/header/23-tab-1x.png 1x,
                ./images/header/23-tab-2x.png 2x
              "
              media="(min-width:768px)"
            />
          
          <img
            src="./images/header/23-dec-1x.png"
            alt="кількість точок продажу"
            class="hero__rnum__img"
          />
        </picture>
        </li>
      </ul>
    </div>
    <div class="hero-bottom-box">
      <div class="hero-bottom__img">
      <picture>
        <source
          srcset="
            ./images/header/moloko-1x.png 1x,
            ./images/header/moloko-2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/header/moloko-tab-1x.png 1x,
            ./images/header/moloko-tab-2x.png 2x
          "
          media="(min-width:768px)"
        />
      
      <img
        src="./images/header/moloko-1x.png"
        alt="тільки справжнке молоко"
        class="hero__moloko__img"
      />
      </picture>
    </div>
    <div class="hero-bottom">
      <p class="hero_bottom__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button type="button" class="hero_icon">
          <svg class="hero_icon__svg">
            <use href="./images/icons.svg#icon-arrow-right2"></use>
          </svg>
        </button>
         </div>
    </div>
    <div class="hero-last-img">
      <picture>
        <source
          srcset="
            ./images/header/girl-1x.png 1x,
            ./images/header/girl-2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/header/girl-tab-1x.png 1x,
            ./images/header/girl-tab-2x.png 2x
          "
          media="(min-width:768px)"
        />
      
      <img
        src="./images/header/girl-1x.png"
        alt="смачне морозиво"
        class="hero__girl__img"
      />
    </picture>
    </div>
  </div>

   </div>
   <div class="backdrop is-hidden" data-modal>
      <div class="modal-buy-now">
        <button
          type="button"
          class="modal-close-btn modal-close"
          data-modal-close
        >
          <svg height="18px" width="18px">
            <use href="./images/icons.svg#icon-madal-close"></use>
          </svg>
        </button>
        <p class="modaL-title">Leave your details, we will call you back</p>
        <form>
          <div class="modal-input-box">
            <div class="modal-box">
              <label for="user-name" class="modal-lable">Name</label>
              <input
                type="text"
                class="modal-input"
                name="user-name"
                required
                minlength="2"
                id="user-name"
              />
              <svg class="modal-input__icon" width="18" height="18">
                <use href="./images/icons.svg#icon-person"></use>
              </svg>
            </div>

            <div class="modal-box">
              <label for="user-tel" class="modal-lable">Phone</label>
              <input
                type="tel"
                class="modal-input"
                name="user-tel"
                required
                id="user-tel"
              />
              <svg class="modal-input__icon" width="18" height="18">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
            </div>
            <div class="modal-box">
              <label for="user-mail" class="modal-lable">email</label>
              <input
                type="email"
                class="modal-input"
                name="user-mail"
                required
                id="user-mail"
              />
              <svg class="modal-input__icon" width="18" height="18">
                <use href="./images/icons.svg#icon-email"></use>
              </svg>
            </div>
            <div class="modal-box">
              <label for="user-text" class="modal-lable">comment</label>
              <textarea
                name="user-text"
                id="user-text"
                placeholder="Введите текст"
                class="modal-text"
              ></textarea>
            </div>
          </div>
          <div class="modal-check-box">
            <input
              type="checkbox"
              class="modal-chekid is-hidden"
              id="modal-chekid"
              name="policy"
              value="policy"
            />
            <label for="modal-chekid" class="modal-check-text">
              <span class="modal-vis-check">
                <svg class="check-icon" width="11" height="8">
                  <use href="./images/icons.svg#icon-check"></use>
                </svg>
              </span>
              <span class="modal-licen-text">
               I agree to the terms of 
                <a href="" class="link"> the contract</a>
              </span>
            </label>
          </div>
          <button type="submit" class="modal-submit-btn">
            <span class="modal-btn-text"> SEND</span>
          </button>
        </form>
      </div>
    </div>

</header>
