<header class="header">
  <div class="container">
    <a href="" class="logo"><span class="accent">Web</span>Studio</a>
    <button type="button" class="menu-open-btn">
      <svg width="40px" height="40px">
        <use class="icon-menu" href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>

    <div class="mob-menu is-hidden">
      <div class="container">
        <button type="button" class="mob-menu-close_btn">
          <svg width="14px" height="14px">
            <use class="mob-icon" href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <div class="mob-menu_btn-wrap">
          <button type="button" class="mob-menu__btn">Buy now</button>
        </div>
        <ul class="mob-nav_list list">
          <li class="mob-nav_item">
            <a href="" class="mob-nav_link link current">Home</a>
          </li>
          <li class="mob-nav_item">
            <a href="" class="mob-nav_link link">About us</a>
          </li>
          <li class="mob-nav_item">
            <a href="" class="mob-nav_link link">How it’s made?</a>
          </li>
          <li class="mob-nav_item">
            <a href="" class="mob-nav_link link">Our products</a>
          </li>
          <li class="mob-nav_item">
            <a href="" class="mob-nav_link link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script src="./js/modal-window.js"></script>
</header>
