<section>
      <div class="conteiner reviews">
            <h2 id="reviews" class="visually-hidden">Customer reviews</h2>
            <div class="one-time">
                  <div class="reviews__slider">
                        <img class="reviews__client" srcset="./images/customer-reviews/client1.png 1x,
                        ./images/customer-reviews/client1@2x.png 2x"
                        src="./images/customer-reviews/client1.png" alt="Client №1" width="85">
                        <div class="reviews__thumb">
                              <div class="reviews__thumb--overley">
                                    <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. 
                                    In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                              </div>
                        </div>
                              <p class="reviews__adress">Emily, Los Angeles</p>
                  </div>
                  <div class="reviews__slider">
                        <img class="reviews__client" srcset="./images/customer-reviews/client2.png 1x,
                        ./images/customer-reviews/client2@2x.png 2x"
                        src="./images/customer-reviews/client2.png" alt="Client №2" width="85">
                        <div class="reviews__thumb">
                              <div class="reviews__thumb--overley">
                                    <p class="reviews__text">Numquam expertus sum talem glaciem cremor - cum grapefruit. 
                                    Contigit quod est delectamentum, non dulce, modice dulce, recens, et, praesertim, 
                                    originale, quia maxime oculis et imaginatione cibum amo.</p>
                              </div>
                        </div>
                              <p class="reviews__adress">Tamira, Chicago</p>
                  </div>
                  <div class="reviews__slider">
                        <img class="reviews__client" srcset="./images/customer-reviews/client3.png 1x,
                        ./images/customer-reviews/client3@2x.png 2x"
                        src="./images/customer-reviews/client3.png" alt="Client №3" width="85">
                        <div class="reviews__thumb">
                              <div class="reviews__thumb--overley">
                                    <p class="reviews__text">Rosea glaciei cremor in glaze alba operta pistachiis 
                                    viridibus frusta. Aliquis diligenter illud bracteis aureis involvit et in cista 
                                    cardboard posuit, unam ex iis quae abicere non vis, sed aliquantula in eis quasi 
                                    penicilli recondunt.</p>
                              </div>
                        </div>
                              <p class="reviews__adress">Anna, New York</p>
            </div>
      </div>
</section>