.scroll-top {
  background: $color-text-pink;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  bottom: 20px;
  height: 40px;
  width: 40px;
  padding: 6px;
  position: fixed;
  border-radius: 1px;
  right: 20px;
  text-align: center;
  overflow: hidden;
  z-index: 9999;
  opacity: 0.5;
  cursor: pointer;
}
.arrow {
  fill: $color-text-secondary;
  transform: rotate(-90deg);
}
