.advantages {
  padding-bottom: 80px;
  background-color: #fff5f6;

  @media screen and (min-width: 768px) {
    padding-bottom: 84px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 120px;
  }
}

.advantages__list {
  margin: 0;
  padding-left: 20px;
  list-style: none;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    display: flex;
    column-gap: 60px;
    padding: 0px;
  }

  @media screen and (min-width: 1280px) {
    justify-content: space-between;
    column-gap: 30px;
    justify-content: center;
    padding: 0;
  }
}

.advantages__item {
  position: relative;
  max-width: 230px;
  padding-top: 66px;
  margin: 0;

  @media screen and (min-width: 768px) {
    max-width: 180px;
    padding-top: 86px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    max-width: 330px;
    padding-top: 90px;
    // margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

// .advantages__item:not(:last-child) {
//     margin-bottom: 32px;

// }

.advantages__number {
  margin-bottom: 16px;

  color: #d41443;

  font-family: 'Titan One';
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 1.15x;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
    font-size: 58px;
    line-height: 1.14;
  }
}

.advantages__number--first::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 33px;
  height: 50px;
  background-image: url(/src/images/advantages-images/advantages-icon1-2x-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.advantages__number--second::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 50px;
  height: 50px;
  background-image: url(/src/images/advantages-images/advantages-icon2-2x-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.advantages__number--third::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 44px;
  height: 50px;
  background-image: url(/src/images/advantages-images/advantages-icon3-2x-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.advantages__text {
  margin-bottom: 0;
  color: black;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.71;
    // padding-bottom: 42px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: 0.02em;
    // padding-bottom: 60px;
  }
}
