.j {
  width: 280px;
  height: 412px;
  background-color: thistle;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
.d {
  width: 80px;
  height: 16px;
  background: #f0d1a5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  // position: absolute;
}
.ccc {
  // position: absolute;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  text-transform: uppercase;
  // display: flex;
  // align-items: center;
  // text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;
}
.obert {
  padding: 40px 32px;
}
