// .contacts {
//   padding-top: 48px;
//   padding-bottom: 48px;
//   padding-left: 0;
//   padding-right: 0;

//   @media screen and (min-width: 767.98px) {
//     padding-top: 80px;
//     padding-bottom: 40px;
//   }
//   @media screen and (min-width: 1279.98px) {
//     padding-top: 120px;
//     padding-bottom: 120px;
//   }
// }
.contacts-card {
  margin-bottom: 32px;
  @media screen and(min-width:767.98px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -32px;
    margin-bottom: 40px;
  }
  @media screen and(min-width:1279.98px) {
    margin-bottom: 60px;
  }
}

.contacts-card__item {
  margin: 0 auto;
  padding: 40px 32px;
  width: 280px;
  height: 412px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-bottom: 20px;
  @media screen and(min-width:767.98px) {
    width: 100%;
    height: 100%;
    margin-right: 32px;
    margin-bottom: 0;

    flex-basis: calc((100% - 96px) / 3);
  }
  @media screen and(min-width:1279.98px) {
    width: 100%;
    height: 100%;
    margin-right: 32px;
    padding: 40px;

    flex-basis: calc((100% - 96px) / 3);
  }
}

// .contacts-card__list {
//   padding: 40px 32px;
//   @media screen and (min-width: 1279.98px) {
//     padding: 40px;
//   }
// }
.contacts-representation {
  width: 80px;
  height: 16px;
  background: #f0d1a5;
  border-radius: 4px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  @media screen and (min-width: 767.98px) {
    width: 73px;
    height: 28px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1279.98px) {
    width: 75px;
    height: 28px;
  }
}
.contacts-representation__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #ffffff;

  @media screen and (min-width: 767.98px) {
    font-size: 16px;
    line-height: 1.88;
  }
}
.contacts-town {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 8px;

  @media screen and (min-width: 767.98px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1279.98px) {
    font-size: 16px;
    line-height: 1.88;
    margin-bottom: 12px;
  }
}
.contacts-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;

  @media screen and (min-width: 767.98px) {
    font-size: 14px;
    line-height: 1.64;
  }
  @media screen and (min-width: 1279.98px) {
    font-size: 16px;
    line-height: 1.81;
  }
}
.contacts-schedule__item {
  margin-bottom: 8px;
  @media screen and (min-width: 767.98px) {
    margin-bottom: 12px;
  }
}
.contacts-schedule__day {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #000000;

  @media screen and (min-width: 767.98px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1279.98px) {
    font-size: 16px;
    line-height: 1.88;
  }
}
.contacts-schedule__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #ffa5ba;

  @media screen and (min-width: 767.98px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1279.98px) {
    font-size: 16px;
    line-height: 1.88;
  }
}
.contacts-contacts__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;

  @media screen and (min-width: 767.98px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1279.98px) {
    font-size: 16px;
    line-height: 1.81;
  }
}
.contacts-representation.add-name {
  width: 130px;
  background: #c2e297;
  @media screen and (min-width: 767.98px) {
    width: 138px;
  }
}
.line {
  border: 1px solid #e1e1e1;
  margin-top: 24px;
  margin-bottom: 24px;
  @media screen and (min-width: 767.98px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
.contacts-button-place {
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;

  @media screen and(min-width:767.98px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.contacts-button {
  margin: 0 auto;

  display: block;
  width: 161px;
  height: 44px;
  margin-bottom: 10px;

  background: #d41342;
  border-radius: 22px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;

  @media screen and(min-width:767.98px) {
    margin: 0 15px 0 0;
    width: 192px;
  }
  @media screen and(min-width:1279.98px) {
    width: 198px;
  }
}
.contacts-button.add-btn {
  background: aqua;
  color: #d41342;
  @media screen and(min-width:767.98px) {
    margin-right: 0;
  }
}
.contacts-button:hover,
.contacts-button:focus {
  background: #d41342;
}
.contacts-button.add-btn:hover,
.contacts-button.add-btn:focus {
  background: #ecebeb;
}
.contacts-button__icon {
  fill: #e1e1e1;
  margin-left: 8px;

  @media screen and(min-width:767.98px) {
    margin-left: 14px;
  }
}
