.footer {
  background-color: $color-background;
  padding-top: 32px;
  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 60px;
  }
}

.footer__btn {
  display: block;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  height: 44px;
  width: 161px;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
.btn__icon {
  margin-left: 8px;
}
.footer__btn--red {
  margin-bottom: 10px;
  background-color: #d41342;
  color: $color-text-white;
  fill: $color-text-white;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 14.5px;
  }
}
.footer__btn--white {
  background-color: $color-text-white;
  color: $color-text-red;
  fill: $color-text-red;
}
.footer__buttons {
  margin: 0 auto;
  margin-bottom: 48px;
  @media screen and (min-width: 768px) {
    width: 380px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
.footer__text {
  width: 234px;
  margin-bottom: 40px;
  font-family: Titan One;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;

  .footer__text-small {
    font-size: 18px;
    color: $color-text-pink;
  }
  .footer__text-big {
    font-size: 34px;
    letter-spacing: 0.04em;
    color: $color-text-red;
  }
}
.socials {
  display: flex;
  margin-bottom: 40px;
  justify-content: end;
}
.socials__item {
  &:not(:last-child) {
    margin-right: 29px;
  }
}
.social__link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-text-pink;
  fill: $color-text-white;
  //   transition: background-color var(--trans-time), fill var(--trans-time);
  &:hover,
  &:focus {
    background-color: $color-text-red;
  }
}
.contact-text {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.9;
  text-align: right;
  .contact-text__link {
    text-decoration: none;
    color: $color-text-red;
  }
}
.footer-underline {
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 1px solid #e1e1e1;
}
.footer__copyright {
  padding-top: 8px;
  padding-bottom: 8px;
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 20px;
    .text-brake {
      display: block;
    }
  }
}
.footer__copyright-text {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #907e82;
}
