.reviews {
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__client {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 16px;
    }
  }

  &__thumb {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    padding: 44px 50px 17px 50px;

    width: 280px;
    text-align: center;
    background-color: $color-background-reviews;

    @media screen and (min-width: 768px) {
      width: 620px;
      padding: 37px 6px 36px 6px;
    }

    // @media (min-width: 768px) and (max-width: 1279px) {
    //   margin-bottom: 4px;
    // }

    @media screen and (min-width: 1280px) {
      width: 1034px;
      padding: 44px 107px 31px 105px;
    }

    &::before {
      position: absolute;
      content: '';
      top: 30px;
      left: 53px;
      opacity: 0.5;

      width: 54px;
      height: 40px;

      background-image: url('../images/customer-reviews/quotes.png');

      @media screen and (min-width: 768px) {
        top: 20px;
        left: 6px;
      }

      @media screen and (min-width: 1280px) {
        top: 32px;
        left: 105px;
      }
    }

    &--overley {
      // height: 94px;
      background-image: repeating-linear-gradient(
        to bottom,
        $color-background-reviews,
        $color-background-reviews 31px,
        $color-linear-reviews 31px,
        $color-linear-reviews 32px
      );

      @media (min-width: 768px) {
        background-image: repeating-linear-gradient(
          to bottom,
          $color-background-reviews,
          $color-background-reviews 30px,
          $color-linear-reviews 30px,
          $color-linear-reviews 31px
        );
      }

      @media screen and (min-width: 1280px) {
        background-image: repeating-linear-gradient(
          to top,
          $color-linear-reviews,
          $color-linear-reviews 1px,
          $color-background-reviews 1px,
          $color-background-reviews 31px
        );
      }
    }
  }

  &__text {
    padding: 6px 8px 9px 15px;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    text-align: center;

    color: $color-text-primary;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 2.16;
      padding: 2px 48px 4px 44px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.86;
      padding: 0 35px 4px 37px;
    }
  }

  &__adress {
    text-align: center;
    margin-bottom: 16px;

    font-size: 14px;
    line-height: 1.86;

    color: $color-text-primary;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
      font-size: 16px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      margin-bottom: 32px;
    }

    &::before {
      content: ' ';
      display: block;
      width: 32px;
      height: 4px;
      top: -16px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 16px;
      transform: translateY(-50%);

      background-image: url('../images/customer-reviews/red_points.png');
    }
  }
}

.slick-dots li.slick-active button:before {
  width: 12px;
  height: 12px;
  color: transparent;
  background-image: url('../images/customer-reviews/house.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.slick-dots li button:before {
  font-size: 12px;
  color: $color-dot-slider;
}
